.rcs-desktop #mainscreen {
	top: 20px !important;
}

.rcs-desktop #topnav {
	display: none !important;
}

.rcs-mobile #header {
	display: none;
}

.rcs-mobile #mainscreen {
	top: 60px;
}

.rcs-mobile #message.statusbar {
	top: auto;
	bottom: 0px;
}

.rcs-mobile #quicksearchbox {
	padding: 12px;
}
