<Location />
    Options +Includes

    FilterDeclare PIWIK_SUBST
    FilterProvider PIWIK_SUBST SUBSTITUTE "%{CONTENT_TYPE} =~ m|^text/html|"
    SUBSTITUTE 's|</body>|<!--#include virtual="/piwik_tag.html" --></body>|ni'

    FilterDeclare PIWIK_TAG
    FilterProvider PIWIK_TAG INCLUDES "%{CONTENT_TYPE} =~ m|^text/html|"

    FilterChain PIWIK_SUBST PIWIK_TAG
</Location>

ProxyPass /piwik_tag.html !
